body {
    background: #E5E5E5;
}

.container {
    max-width: 80rem;
    margin: 0 auto;
    font-family: Georgia, serif;
}

.header {
    background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #211F20;
    padding: 1.875rem 2.5rem 0 2.5rem;
}

.header__section1 {
    display: flex;
    justify-content: space-between;
}

.header__title {
    font-size: 2rem;
    color: #F1CDB3;
    margin-bottom: .4rem;
}

.header__logo {

}

.header__subtitle {
    color: #FFFFFF;
    font-family: 'Arial', sans-serif;
    font-size: 0.8125rem;
    letter-spacing: 0.1em;
}

.header__nav_menu {
    font-family: 'Arial', sans-serif;
    font-size: 0.9375rem;
    color: #CDCDCD;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    grid-column-gap: 2.18rem;
    justify-content: end;
}

.header__nav_menu_burger {
    display: none;
}

@media (max-width: 540px) {
    .header {
        padding: 30px 20px 0 20px;
    }

    .header__nav_menu_burger {
        display: block;
        position: relative;
        z-index: 4;
        min-width: 30px;
        height: 20px;
        align-self: center;
    }

    .header__nav_menu_burger:before,
    .header__nav_menu_burger:after {
        content: '';
        background: #F1CDB3;
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
    }

    .header__nav_menu_burger:before {
        top: 0;
    }

    .header__nav_menu_burger:after {
        bottom: 0;
    }

    .header__nav_menu_burger > span {
        width: 100%;
        height: 2px;
        background: #F1CDB3;
        position: absolute;
        top: 9px;
    }

    .header__nav_menu {
        display: none;
    }

}

/*--------------------*/
.start_screen {
    display: flex;
    margin-top: 5.8rem;
    grid-gap: 42px 42px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.start_screen__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-row-gap: 42px;
}

.start_screen__heading {
    font-family: 'Georgia', serif;
    font-size: 2.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    color: #FFFFFF;
    display: inline-block;
}

.start_screen__subheading {
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-size: 0.9375rem;
    line-height: 160%;
    color: #CDCDCD;
    display: inline-block;
    max-width: 28.75rem;
}

.start_screen__button {
    width: 12.9375rem;
    height: 3.25rem;
    padding: .9375rem .5rem .9375rem .5rem;
    background: #F1CDB3;
    font-family: 'Georgia', serif;
    font-size: 1.0625rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    border-radius: 100px;
    border: none;
    cursor: pointer;
}

.start_screen__img {
    max-width: 43.625rem;
    max-height: 45.5rem;
}

@media (max-width: 540px) {
    .start_screen {
        grid-gap: 100px;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
    }

    .start_screen__heading {
        font-size: 25px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.06em;
    }

    .start_screen__subheading {
        margin-right: -10px;
        margin-left: -10px;
        text-align: center;
    }

    .start_screen__img {
        max-width: 569px;
        align-self: end;
    }


    .start_screen__button {
        align-self: center;
    }

    .start_screen__img {
        max-width: 260px;
    }
}

.start_screen__img img {
    max-width: 100%;
    max-height: 100%;
}

/*--------------------*/
.about {
    background: #FFFFFF;
    padding-top: 5rem;
    padding-bottom: 6.25rem;
}



.about__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    grid-column-gap: 9.375%;
}



.about__img {
    max-width: 18.75rem;
}

.about__img img {
    max-width: 100%;
}

.about__content {
    max-width: 26.875rem;
    display: flex;
    flex-direction: column;
    grid-row-gap: 25px;
    justify-content: center;
}

.about__heading {
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

.about__heading span {
    white-space: nowrap; /* Запрещаем перенос текста */
}

.about__subheading {
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
}

@media (max-width: 768px) {
    .about__container {
        flex-wrap: wrap-reverse;
    }

    .about__subheading:last-child {
        margin-bottom: 80px;
    }
}

@media (max-width: 540px) {
    .about {
        padding: 42px 25px 42px 25px;
    }

    .about__heading {
        text-align: center;
        font-size: 25px;
        line-height: 130%;
        letter-spacing: 0.06em;
    }

    .about__subheading {
        text-align: justify;
    }

    .about__subheading:last-child {
        margin-bottom: 42px;
    }

    .about__img {
        max-width: 260px;
    }
}
/*--------------------*/
.pets {
    padding: 80px 40px 100px 40px;
    background: #F6F6F6;
    display: flex;
    flex-direction: column;
    grid-gap: 3.75rem;
}

.pets__heading {
    font-family: 'Georgia', serif;
    font-size: 2.1875rem;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    display: flex;
    justify-content: center;
}

.pets__heading > span {
    max-width: 25rem;
}

.pets__slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pets__slider_button {
    min-width: 3.25rem;
    min-height: 3.25rem;
    border-radius: 50%;
    border: 2px solid rgb(241, 205, 179);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pets__slider_cards {
    display: flex;
    justify-content: space-around;
    flex: 1 1 61.875rem;
    flex-wrap: wrap;
    grid-gap: 1rem 1rem;
    max-height: 444px;
    overflow: hidden;
}

.pets__card {
    max-width: 16.875rem;
    display: flex;
    flex-direction: column;
    background: #FAFAFA;
    align-items: center;
}

.pets__card_img > img {
    max-width: 100%;
}

.pets__card_name {
    font-family: 'Georgia', serif;
    font-size: 1.25rem;
    line-height: 1.4375rem;
    letter-spacing: 0.06em;
    color: #545454;
    margin-bottom: 1.875rem;
    margin-top: 1.875rem;
}

.pets__button_secondary {
    padding: 0.9375rem 2.8125rem;
    font-family: 'Georgia', serif;
    font-size: 1.0625rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    border-radius: 6.25rem;
    border: 2px solid #F1CDB3;
    margin-bottom: 1.875rem;
    cursor: pointer;
}

.pets__button_primary {
    display: flex;
    justify-content: center;
}

.pets__button_primary > button {
    width: 16.3125rem;
    height: 3.25rem;
    background: #F1CDB3;
    border-radius: 6.25rem;
    border: none;
    font-family: 'Georgia', serif;
    font-size: 1.0625rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    cursor: pointer;
}

@media (max-width: 540px) {
    .pets {
        padding: 42px 25px 42px 25px;
        grid-gap: 42px;
    }

    .pets__heading {
        font-size: 25px;
        margin-left: -15px;
        margin-right: -15px;
    }

    .pets__slider {
        flex-wrap: wrap;
        justify-content: space-around;
        grid-row-gap: 20px;
    }
    .pets__slider_button {
        order: 2;
    }

    .pets__slider_cards {
        order: 1;
    }
}

/*--------------------*/
.help {
    background: #FFFFFF;
    padding-top: 80px;
    padding-bottom: 127px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help__heading {
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin-bottom: 60px;
    max-width: 310px;
}

.help__list {
    display: flex;
    max-width: 1026px;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 4rem 3rem;
}

.help__list_item {
    width: 166px;
    /*border: 1px solid #5B483A;*/ /*для отладки*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 110px;
}

.help__item_icon {

}

.help__item_text {
    font-family: 'Georgia', serif;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
}

@media (max-width: 540px) {
    .help {
        padding: 42px 15px;
    }

    .help__heading {
        font-size: 25px;
    }

    .help__list {
        grid-gap: 30px 30px;
    }

    .help__list_item {
        width: 130px;
    }

    .help__item_text {
        font-size: 15px;
    }
}
/*--------------------*/
.help2 {
    background: #FFFFFF;
    padding-top: 80px;
    padding-bottom: 127px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help2__heading {
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin-bottom: 60px;
    max-width: 310px;
}

.help2__list {
    display: flex;
    max-width: 1026px;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 4rem 3rem;
}

.help2__list_item {
    width: 166px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 110px;
}

.help2__list_item_icon {

}

.help2__list_item_text {
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
}

@media (max-width: 540px) {
    .help2 {
        background: #FFFFFF;
        padding: 42px 15px;
        display: grid;
        align-items: normal;
    }

    .help2__heading {
        font-size: 25px;
        justify-self: center;
    }

    .help2__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(130px,1fr));
        grid-row-gap: 30px;
        grid-column-gap: 2px;
        justify-items: center;
        max-width: 100%;
    }

    .help2__list_item {
        font-family: 'Georgia', serif;
        font-size: 15px;
        line-height: 110%;
        letter-spacing: 0.06em;
        color: #545454;
        width: 130px;
        height: 110px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .help2__list_item_icon {
        max-width: 50px;
        max-height: 50px;
    }

    .help2__list_item_icon img {
        max-width: 100%;
        max-height: 100%;
    }

    .help2__list_item_text {
        font-size: 15px;
    }
}
/*--------------------*/
.donation {
    padding-top: 91px;
    padding-bottom: 110px;
    background: #F6F6F6;
    display: flex;
    justify-content: center;
}

.donation__container {
    display: flex;
    grid-gap: 30px;
    min-height: 282px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .donation__container {
        flex-wrap: wrap-reverse;
        grid-gap: 60px;
    }
}

.donation__img {
    max-width: 505px;
}

.donation__img > img {
    max-width: 100%;
}

.donation__content {
    max-width: 380px;
    display: flex;
    flex-direction: column;
    grid-row-gap: 20px;
}

.donation__heading {
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    max-width: 300px;
}

.donation__subheading {
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
}

.donation__credit_card {
    background: #F1CDB3;
    border-radius: 9px;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    grid-column-gap: 15px;
}

.donation__card_icon {
    max-width: 30px;
    display: flex;
    align-content: center;
}

.donation__card_icon > img {
    max-width: 100%;
}

.donation__card_text {
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
}

.donation__text_info {
    font-family: 'Arial', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
}

@media (max-width: 540px) {
    .donation {
        padding: 42px 20px;
    }

    .donation__container {
        grid-gap: 42px;
    }

    .donation__content {
        align-items: center;
    }

    .donation__heading {
        text-align: center;
        font-size: 25px;
    }

    .donation__subheading {
        text-align: center;
    }

    .donation__credit_card {
        grid-column-gap: 12px;
    }

    .donation__card_text {
        font-size: 15px;
    }

    .donation__text_info {
        text-align: justify;
    }

    .donation__img {
        max-width: 260px;
    }

}
/*--------------------*/
.footer {
    background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.footer__container {
    display: flex;
    justify-content: space-around;
    /*flex: 1 1 302px;*/
    flex-wrap: wrap;
    grid-gap: 2rem 2rem;
    margin-right: -40px;
    margin-left: -40px;
}

.footer__contacts {
    display: flex;
    max-width: 302px;
    flex-direction: column;
    grid-row-gap: 44px;
}

.footer__contacts_title {
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.footer__email, .footer__phone {
    display: flex;
    grid-column-gap: 20px;
    align-items: center;
}

.footer__contacts_icon {
    width: 40px;
}

.footer__contacts_icon img {
    max-width: 100%;
}

.footer__contacts_text {
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.footer__locations {
    display: flex;
    max-width: 302px;
    flex-direction: column;
    grid-row-gap: 34px;
}

.footer__locations_title {
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.footer__location {
    display: grid;
    grid-template-columns: 23px 1fr;
    grid-column-gap: 20px;
    align-items: center;
}

.footer__location_icon {
    max-width: 23px;
}

.footer__location_icon > img {
    width: 100%;
}

.footer__locations_text {
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.footer__img {
    max-width: 302px;
}

.footer__img > img {
    max-width: 100%;
}

@media (max-width: 540px) {
    .footer {
        padding-top: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .footer__container {
        margin-right: auto;
        margin-left: auto;
    }

    .footer__contacts {
        align-items: center;
        grid-row-gap: 40px;
    }

    .footer__contacts_title {
        text-align: center;
        font-size: 25px;
    }

    .footer__locations {
        grid-row-gap: 40px;
    }

    .footer__locations_title {
        text-align: center;
        font-size: 25px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .footer__img {
        width: 260px;
    }

    .footer__img > img {
        max-width: 100%;
    }


}

