body {
    background: #E5E5E5;
}

.container {
    max-width: 80rem;
    margin: 0 auto;
    font-family: Georgia, serif;
}

.header {
    background: url(/img/start-screen-gradient-background.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #211F20;
    padding: 1.875rem 2.5rem 0 2.5rem;
}

.header__section1 {
    display: flex;
    justify-content: space-between;
}

.header__title {
    font-size: 2rem;
    color: #F1CDB3;
    margin-bottom: .4rem;
}

.header__logo {

}

.header__subtitle {
    color: #FFFFFF;
    font-family: 'Arial', sans-serif;
    font-size: 0.8125rem;
    letter-spacing: 0.1em;
}

.header__nav_menu {
    font-family: 'Arial', sans-serif;
    font-size: 0.9375rem;
    color: #CDCDCD;
    display: flex;
    align-items: center;
    grid-column-gap: 2.18rem;
}

/*--------------------*/
.start_screen {
    display: flex;
    margin-top: 5.8rem;
    grid-gap: 42px 42px;
}

.start_screen__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-row-gap: 42px;
}

.start_screen__heading {
    font-family: 'Georgia', serif;
    font-weight: 400;
    font-size: 2.75rem;
    line-height: 130%;
    color: #FFFFFF;
    display: inline-block;
    max-width: 310px;
}

.start_screen__subheading {
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-size: 0.9375rem;
    line-height: 160%;
    color: #CDCDCD;
    display: inline-block;
    max-width: 28.75rem;
}

.start_screen__button {
    width: 12.9375rem;
    height: 3.25rem;
    padding: .9375rem .5rem .9375rem .5rem;
    background: #F1CDB3;
    font-family: 'Georgia', serif;
    font-size: 1.0625rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    border-radius: 100px;
    border: none;

}

.start_screen__img {
    max-width: 43.625rem;
    max-height: 45.5rem;
}

.start_screen__img img {
    max-width: 100%;
    max-height: 100%;
}

/*--------------------*/
.about {
    background: #FFFFFF;
    padding-top: 5rem;
    padding-bottom: 6.25rem;
    display: grid;
    grid-template-columns: 215fr 300fr 120fr 430fr 215fr;
}

.about__img {
    grid-column: 2/3;
    max-width: 18.75rem;
}

.about__img img {
    max-width: 100%;
}

.about__content {
    max-width: 26.875rem;
    grid-column: 4/5;
    display: flex;
    flex-direction: column;
    grid-row-gap: 25px;
    justify-content: center;
}

.about__heading {
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

.about__heading span {
    white-space: nowrap; /* Запрещаем перенос текста */
}

.about__subheading {
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
}
